body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(243, 243, 245);
  color: #333;
}

.navbar {
  background-color: rgb(28, 32, 38) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
}

.card {
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.video-caption {
  background-color: rgb(28, 32, 38);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.carousel-item video {
  object-fit: cover;
}

.container {
  padding: 20px 0;
}

h1,
h2 {
  color: rgb(18, 34, 62);
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  background-color: gray;
  opacity: 0.8;
  border-radius: 50%;
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  width: 15px;
  height: 15px;
}

.custom-carousel .carousel-control-prev {
  left: 10px;
}

.custom-carousel .carousel-control-next {
  right: 10px;
}

section {
  padding-top: 80px;
}
